.loader{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--colorSecundarioLuz2);
}

.loader::after{
    content:"";
    width: 75px;
    height: 75px;
    border:15px solid var(--colorBlancos);
    border-top-color:var(--colorPrimarioLuz1);
    border-radius: 50%;
    animation: loading 1s ease infinite;
}


@keyframes loading {
    from{
        transform: rotate(0turn);
    }to{
         transform: rotate(1turn);
     }
}


h4{
    color: var(--colorBlancos);
    margin-bottom: 10px;
}


main{
    width: 100%;
    padding:20px;
    height: auto;
}

#sugerencia{
    color: var(--colorPrimarioSombra1);
}

main .titleCategorie h2{
    color: var(--colorBlancos );

}

.wrapper {
    max-width: 1200px;
    width: 100%;
    position: relative;
    height: 325px;
}
.wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: var(--colorPrimario);
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
    color: var(--colorSecundarioSombra1);
}
.wrapper i:active{
    transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
    left: -22px;
}
.wrapper i:last-child{
    right: -22px;
}
.wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
}
.carousel::-webkit-scrollbar {
    display: none;
}
.carousel.no-transition {
    scroll-behavior: auto;
}
.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}
.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel .card {
    scroll-snap-align: start;
    height: 325px;
    list-style: none;
    color: var(--colorBlancos);
    background: var(--colorSecundarioLuz1);
    cursor: pointer;
    flex-direction: column;
    justify-content: start;
    border-radius: 8px;
}
.carousel .card .img {
    background: #8B53FF;
    height: 60%;
    width: 100%;
}

.action{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.boxOptions{
    width: 70px;
    height: 80px;
    text-align: center;
    margin-right: 15px;
}

.optionGame p{
    color: var(--colorPrimarioSombra2);
    font-weight: 500;
    text-decoration: none;
    margin-left: 10px;
}

.optionGame{
    display: flex;
    gap: 5px;

}

.optionGame img{
    height: auto;
    width: auto;
    margin-right: 15px;
}

.boxInfoCard{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--colorSecundarioLuz1);
}

.boxInfoCard h3{
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    height: 55%;
    width: auto;
    padding-top: 10px;
}

.card .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.normalPrice{
    text-decoration: line-through;
}

.normalPrice,.specialOffert{
    font-family: 'Bebas neue';
    font-weight: 600;
    font-size: 14px;
    height: 20px;
}

.titleCategorie{
    display: flex;
    width: 100%;
    margin-bottom: 10px;

}
.containerCategorie{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.normalTitle{
    font-size: 22px;
}

@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;

    }


}
@media screen and (min-width: 600px){
    h4{
        margin-left: 30px;
        font-size: 25px;
    }
    .normalTitle{
        width: 80%;
        margin-left: 40px;
    }

    .wrapper, .carousel {
        max-width: 1450px;
    }
}


