.wrapper {
  margin-top: 20px;
  width: 100%;
  position: relative;
}

.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #A970FF;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: 0px;
}
.wrapper i:last-child{
 right: 0px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4) - 12px);
  overflow-x: auto;
  /*scroll-snap-type: x mandatory;*/
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  
}



.carousel .card {
      /* scroll-snap-align: start; */
      height: 310px;
      max-width: 404px;
      list-style: none;
      background: var(--colorSecundarioLuz1);
      cursor: pointer;
      padding-bottom: 15px;
      flex-direction: column;
      border-radius: 8px;
      text-align: center;
      display: flex;
      
}
.carousel .card .img {
    background: #8B53FF;
    height: 50%;
    width: 100%;
}


.card .img img {
    width: 100%;
    height: 210px;
    object-fit: fill;
}
.carousel .card h2{

  font-weight: 500;
  font-size: 1.56rem;
  margin-top: 70px ;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}

.card .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}


.card h2 {
  margin: 0; /* Elimina el margen predeterminado del h2 */
  
}


.card .price {
  align-self: flex-end;
  
}

.price{

margin-right: 10px;
}

.action {
  display: flex;
  flex-direction: row;
  margin-left: 230px;

}

.card .action p {
  margin-right: 5px; /* Espacio entre el texto y el ícono */
}

.card-menu-category-svg-icon-carrousel{
width: 20px;
height: 20px;
}

.crossed-text{
  text-decoration: line-through;
}



