@import url('https://fonts.googleapis.com/css2?family=Forum&family=Lato:wght@300&family=Noto+Sans:wght@300;500;600&family=Roboto:wght@300;400;500;700;900&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Forum&family=Lato:wght@300&family=Noto+Sans:wght@300;500;600&family=Roboto:wght@300;400;500;700;900&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;1,600&display=swap');
:root{

    --colorPrimarioLuz3: #CBB2EF;
    --colorPrimarioLuz2: #BB9FE5;
    --colorPrimarioLuz1: #B788FF;
    --colorPrimario: #A970FF;
    --colorPrimarioSombra1: #9249FF;
    --colorPrimarioSombra2: #7E2BFD;
    --colorPrimarioSombra3: #7922FC;
    
    --colorSecundario: #0E0E10 ;
    --colorSecundarioLuz1: #1D1D22 ;
    --colorSecundarioLuz2: #2C2C33 ;
    --colorSecundarioLuz3: #43434E ;
    --colorSecundarioSombra1: #0B0B0C ;
    --colorSecundarioSombra2: #090808 ;
    --colorSecundarioSombra3: #0E0C0C;


    --colorFree: #00D700;
    --colorPrice: #FC6A03;
    --colorBlancos:#EFEFF1;
    --colorHover: #2E2E2E;
    --colorPlaceholder: #8989A2; 

    --fontSizeLabel:16px;

}

*{
    margin:0;
    padding:0;
    font-family:'Roboto',sans-serif ;
}

body{
    background-color: var(--colorSecundario);
}

a{
    color: var(--colorBlancos);
    text-decoration: none;
}
h4{
    color: var(--colorBlancos);
    font-size: 20px;
    font-weight: 500;
}

p,li{
    color: var(--colorBlancos);
}




/*--------MAIN-----------*/
 main{
    padding: 15px;
    background-color: var(--colorSecundario);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
 }

.categorieContainer{
    width: 80%;
    height: 260px;
    border: 1px solid red;
    position: relative;
}

.head{
    display: flex;
    height: 15%;
    width: 100%;
    border: 1px solid white;
    align-items: center ;
    font-size: 30px;
    font-family: 'Bebas Neue';
}
.head img{
    width: 27px;
    height: 27px;
}

#sugerencia{
    font-family: 'Bebas Neue';
    color: var(--colorPrimarioSombra2);
    font-weight: 300;
}

.carrousel{
    height: 100%;
    width: 200%;
    overflow: hidden;
    position: relative;
}

.card{
    height: 100%;
    border: 1px solid green;
    width: 230px;
}

.card .head{
    height: 50%;
    width: 100%;
}

.bodyCard .rigth img{
    width: 20px;
    height: 25px;
}

figure{
    width: 100%;
}

.card figure img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.bodyCard{
    gap: 15px;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.rigth{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
    right: 7px;
}

.rigth p{
    font-size: 12px;
    font-family: 'Bebas neue';
}

.bodyCard p{
    font-size: 15px;
}

.box1Body{
    height: 50%;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2Body{
    width: 100%;
    height: 50%;
    position: relative;
}

.body{
    height: 50%;
    width: 100%;
}

p.title{
   font-family: 'Bebas Neue'; 
   font-size: 16px;
}

.containerCarrousel{
    height:85%;
}

.btnLeft, .btnRight {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px; /* Establece el tamaño de fuente adecuado */
    cursor: pointer;
    color: white;
    height: 10px;
    width: 15px;
  }



/*4 en linea*/
.game{
    padding: 15px;
    height: auto;
}

.titleGame{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.breadCrumb{
    display: flex;
    font-size: 11px;
    color: var(--colorBlancos);
}

.titleGame h2{
    color: var(--colorBlancos);
    font-size: 18px;
    border-bottom: 1px solid var(--colorBlancos);
    width: 135px;
}  

.containerGame{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 600px;
    margin-top: 10px;
}

.gameBox{
    margin-left: 50px;
    width: 70%;
}

.gameBox img {
    display: block;
    width: 100%;
    filter: blur(3px);
    height: 100%;
}

.playButton {
    width: 150px;
    height: 75px;
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: rgb(0, 215, 0);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;
}

.playButton:hover {
    background-color: var(--colorPrimario); /* Cambia el color del botón al pasar el cursor */
}

aside{
    width: 10%;
    height: 100%;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

aside img{
    height:100%
}

.boxDescription{
    width: 73%;
    margin-top: 25px;
    gap: 25px;
    display: flex;
}

.description{
    width: 640px;
    gap: 5px;
    height: auto;
    background-color: var(--colorSecundarioLuz3);
    border-radius: 2px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    text-align: center;
}

.description h3{
    color: var(--colorBlancos);
}

ul li{
    list-style-type: none;
}
iframe{
    width: 35%;
    height: inherit;
}

.containerComentarios{
    margin-top: 25px;
    width: 50%;
    margin: 3% 25%;
    gap: 15px;
    height: 305px;
    display: flex;
    flex-direction: column;
}
.containerComentarios h4{
    border-bottom: 1px solid var(--colorBlancos);
}

.inputComentario{
    /*padding:3px;*/
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:5px;
    background-color: var(--colorSecundarioLuz3);
}
.superior{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:5px;
}

.superior img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.inputInf input{
    width: 100%;
    padding:0px;
}

.inputComentario p{
    font-size: 16px;
    padding: 0px 15px;  
    height: 30px;
}

.superior h5{
    color:var(--colorBlancos);
}