@import url('https://fonts.googleapis.com/css2?family=Forum&family=Lato:wght@300&family=Noto+Sans:wght@300;500;600&family=Roboto:wght@300;400;500;700;900&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;1,600&display=swap');

:root{

    --colorPrimarioLuz3: #CBB2EF;
    --colorPrimarioLuz2: #BB9FE5;
    --colorPrimarioLuz1: #B788FF;
    --colorPrimario: #A970FF;
    --colorPrimarioSombra1: #9249FF;
    --colorPrimarioSombra2: #7E2BFD;
    --colorPrimarioSombra3: #7922FC;
    
    --colorSecundario: #0E0E10 ;
    --colorSecundarioLuz1: #1D1D22 ;
    --colorSecundarioLuz2: #2C2C33 ;
    --colorSecundarioLuz3: #43434E ;
    --colorSecundarioSombra1: #0B0B0C ;
    --colorSecundarioSombra2: #090808 ;
    --colorSecundarioSombra3: #0E0C0C;


    --colorFree: #00D700;
    --colorPrice: #FC6A03;
    --colorBlancos:#EFEFF1;
    --colorHover: #2E2E2E;
    --colorPlaceholder: #8989A2; 

    --fontSizeLabel:16px;

}

*{
    margin:0;
    padding:0;
    font-family:'Roboto',sans-serif ;
    
}

body{
    background-color: var(--colorSecundario);
}



/*--------Login----------*/

.boxForm{
    width: 700px;
    height: 455px;
    background-color: var(--colorSecundarioLuz1);
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    border-radius: 4px;
    -webkit-box-shadow: 0px 10px 90px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 90px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 90px 0px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    padding: 29px;   
}

.boxForm h2 {
    font-size: 24px;
    font-weight: bold;
}

form{
    width: 330px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:var(--colorBlancos);
}

.inputBox{
    width: 100%;
    font-size: var(--fontSizeLabel);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin:15px 0px;
}
.inputBox input{
    height: 30px;
    border-radius: 4px;
    margin: 5px 0px;
   
}

input::placeholder{
    padding-left: 5px;
    color: var(--colorPlaceholder);
}


/*--------Navbar----------*/

.navbar {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: var(--colorSecundarioLuz1);
    height: 70px;
}

.navbar-left {
    display: flex;
  
}

.navbar-center {
    flex-grow: 1;
    text-align: center;
}

.search-box {
    position: relative;
    display: inline-block;
    border: 5px solid var(--colorBlancos);
    
}


.search-input {
    padding: 5px 30px 5px 35px; 
    border: none;
    width: 300px;
    background-color: var(--colorSecundarioLuz1);
    
    
}

.search-input::placeholder {
    color: var(--colorBlancos);
}



input[type = "text"] {
    padding: 5px 300px 5px 30px;
    border: none;
    width: 200px;
    color: var(--colorBlancos);
}

.icon{
    position: absolute;
    left: 10px;
    margin-top: 5px;
}

input[type = "text"]::placeholder {
    color: var(--colorBlancos);
}



.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right a {
    margin-left: 20px;
}



.fa-bars{
    margin-right: 20px;
}

.fa-search{
    color: var( --colorBlancos);
}

.fa-twitch,.fa-bars, .fa-shopping-cart, .fa-user {
    color: var( --colorBlancos);
    font-size: 36px; 
}


.menu-container {
    position: relative;
    margin-left: 10px; 
}

.dropdown-user-menu {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    background-color: var(--colorSecundarioLuz1);
}

.user-container:hover .dropdown-user-menu {
    position: absolute;
    top: 50px; 
    right: 0;
    display: none; 
    background-color:var(--colorSecundarioLuz1);

}

.dropdown-user-menu ul, .menu-categories-dropdown ul {
    list-style-type: none;
    padding: 0; 
}


.dropdown-user-menu li a, .menu-categories-dropdown li a {
    color: var(--colorBlancos);
    text-decoration: none;
    display: block;
    padding: 10px;
}

.cerrar-sesion{
    background-color: var(--colorPrimarioSombra1) !important;
}

.menu-toggle {
    font-size: 24px;
    color: var(--colorBlancos);
    cursor: pointer;
    
    
}

/* Estilos para el menú desplegable */
.menu-categories-dropdown {
    position: absolute;
    top: 100%;
    left: 0; /* Ajusta la posición para que quede a la izquierda del icono */
    display: none;
    background-color: var(--colorSecundarioLuz1);
    width: 200px;
    
    
}


